.grid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    
}

@media only screen and (max-width: 700px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 11rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px){
    .grid {
        grid-template-columns: auto auto repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px){
    .grid {
        grid-template-columns: auto 70% repeat(2, 1fr);
    }
}